#table {
    display: flex;
}

#hands  {
    display: flex;
    flex-wrap: wrap;
}

#deck {
    position: relative;
    max-width: 150px;
}

.centered {
    position: absolute;
    text-align: center;
    font-size: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hands > div {
    margin-right: 200px;
}

.highlight {
    background-color: yellow;
}

.card {
    max-width: 150px;
}

.cards-container > img {
    max-width: 150px;
    margin-right: -120px;
    margin-top: 50px;
    transition: all .2s ease-in;
}

.unselected-card:hover, .selected-card {
    padding-bottom: 50px;
    margin-top: 0;
}
