{% extends "game/base.html" %}
{% load static %}
{% block styling %}
    <link href="/static/styles/game-in-session.css" rel="stylesheet">
{% endblock styling %}
{% block content %}
    <div>
        <div id="table">
            <div id="deck"></div>
            <div id="bombs"></div>
            <div id="piles"></div>
        </div>
        <div id="hands"></div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'game/scripts/game-in-session.js' %}"></script>
    <script>
        $(document).ready(function() {
            const urlParts = window.location.pathname.split("/");
            let accessCode = "{{ access_code }}";
            let playerName = "{{ player_name }}";
            let gameCode = "{{ game_code }}";
            fetchGameState(gameCode, playerName);
        });
    </script>
{% endblock scripts %}
