{% extends "base.html" %}
{% block styling %}
    <link href="/static/styles/game-in-session.css" rel="stylesheet">
{% endblock styling %}
{% block content %}
    <div>
        <div id="table">
            <div id="deck"></div>
            <div id="bombs"></div>
            <div id="piles"></div>
        </div>
        <div id="hands"></div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{{ url_for('static', filename="scripts/game-in-session.js") }}"></script>
    <script>
        $(document).ready(function() {
            const urlParts = window.location.pathname.split("/");
            {#const accessToken = urlParts[2];#}
            {#const playerId = urlParts[4];#}

            {#initiateDisplay(accessToken, playerId);#}
        });
    </script>
{% endblock scripts %}
