{% extends "base.html" %}
{% block content %}
  <div class="container">
    <section class="call-to-action">
        <h1>Hanabi Online</h1>
    </section>

    <section class="text-center mb-5" id="create-lobby">
      <h2>Create a Lobby</h2>
      <p class="lead mb-4">
        Create a new lobby for between one and four other players to join.
      </p>

      <form action="{{ url_for('create_lobby') }}" method="post">
        {{ create_form.csrf_token }}

        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-sm-4 form-group">
            <label for="join-lobby-name">{{ join_form.name.label }}</label>
            <input class="form-control"
                   id="join-lobby-name"
                   name="{{ join_form.name.name }}"
                   required>
            {% if join_form.errors.name %}
              <small id="join-lobby-name-error" class="form-text text-danger">
                {{ ' '.join(join_form.errors.name) }}
              </small>
            {% endif %}
          </div>
        </div>

        <button class="btn btn-primary text-center" type="submit">
          Create Lobby
        </button>
      </form>
    </section>

    <section class="mb-5" id="create-lobby">
      <h2 class="text-center">Join a Lobby</h2>
      <p class="text-center lead mb-4">
        Join a lobby that has already been created.
      </p>

      <form action="{{ url_for('join_lobby') }}" method="post">
        {{ join_form.csrf_token }}

        <div class="row">
          <div class="col form-group">
            <label for="join-lobby-name">{{ join_form.name.label }}</label>
            <input class="form-control"
                   id="join-lobby-name"
                   name="{{ join_form.name.name }}"
                   required>
            {% if join_form.errors.name %}
              <small id="join-lobby-name-error" class="form-text text-danger">
                {{ ' '.join(join_form.errors.name) }}
              </small>
            {% endif %}
          </div>

          <div class="col form-group">
            <label for="join-lobby-access-code">
              {{ join_form.access_token.label }}
            </label>
            <input class="form-control"
                   id="join-lobby-access-code"
                   name="{{ join_form.access_token.name }}"
                   required>
            {% if join_form.errors.access_token %}
              <small id="join-lobby-access-token-error" class="form-text text-danger">
                {{ ' '.join(join_form.errors.access_token) }}
              </small>
            {% endif %}
          </div>
        </div>

        <button class="btn btn-primary d-block ml-auto mr-auto" type="submit">
          Join Lobby
        </button>
      </form>
    </section>
  </div>
{% endblock content %}
