#hands  {
    display: flex;
    flex-wrap: wrap;
}

#hands > div {
    margin-right: 200px;
}

.cards-container > img {
    max-width: 150px;
    margin-right: -120px;
    margin-top: 50px;
    transition: all .2s ease-in;
}

.cards-container > img:hover {
    padding-bottom: 50px;
    margin-top: 0;
}
